body {
	font-family: sans-serif;
}

.container {
	width: 1283px;
	margin: 0 auto;
}

.head-logo{
    font-size: 79px;
    line-height: 94px;
    color: #000000;
    margin: 38px 0px;
}

.head-logo-blue{
    color: #4bcaff;
}

.head-menu {
	display: flex;
	justify-content: center;
    background-color: #35444F;
}

.head-menu-item{
    padding: 26px 38px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.head-menu-item:hover{
    background-color: #222F3A;
    transition: 0.5s;
}

.head-menu-link{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 48px;
}

.aside-menu{
    display: flex;
	flex-direction: column;
    border: 1px solid #000000;
}

.aside-menu-item{
    padding: 25px 100px 25px 40px;
}

.aside-menu-item:hover{
    background-color: #DBDBDB;
    padding: 25px 70px 25px 70px;
    transition: 0.5s;
}

.aside-menu-link{
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.content{
    width: 885px;
}

.main-img{
    margin-bottom: 37px;
}

.main-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.first-text{
    margin-bottom: 34px;
}

.second-text{
    margin-bottom: 54px;
}

.footer{
    display: flex;
	justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer-menu{
    display: flex;
    margin-left: 20px;
}

.footer-menu-link{
    padding: 20px 20px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-menu-link:hover{
    color: #3181A6;
    text-decoration: underline;
    transition: 0.5s;
}

.footer-text{
    padding: 20px 40px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}